
# ORCUS Core
numpy
opencv-python

# YOLOv12 & Tracking
torch>=2.0.0
torchvision
ultralytics
cython
cython_bbox
faiss-cpu
seaborn
huggingface_hub

# BoT-SORT / FastReID Dependencies
easydict
yacs
scikit-learn
scikit-image
filterpy
lap
loguru
ninja
tabulate
thop
gdown
motmetrics
prettytable
matplotlib
pyyaml
tensorboard
termcolor