# ORCUS Core & Web
numpy
opencv-python
Flask

# UAV & Communication
dronekit
pymavlink

# YOLOv12 & Tracking
torch>=2.0.0
torchvision
ultralytics
cython
cython_bbox

# Tracker Dependencies
scikit-learn
scipy
lap
matplotlib

# Optional & Testing
pytest
